* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #802d22 1.18%, #d3d026 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}

.header--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.header--project {
    font-size: o.75rem;
    font-weight: 500;
}

/* for the footer */
.footer {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #000000 70.18%, #61DBFB  100%);
    color: white;
    padding: 20px;
    margin-top: 1.5rem;
}

.footer--image {
    height: 100%;
    margin-right: 6px;
}

.footer--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.footer--project {
    font-size: o.75rem;
    font-weight: 500;
}

.search-bar {
  border: none;
  outline: none;
}
.search-bar:focus {
  border-color: black !important;
  outline: none !important;
}

/* video */
@media screen and (max-width: 1880px) {
  .video-card {
    width: 1390px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1850px) {
  .video-card {
    width: 1300px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1800px) {
  .video-card {
    width: 1200px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1700px) {
  .video-card {
    width: 1000px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1700px) {
  .video-card {
    width: 800px !important;
    height: 500px !important;
  }
}
@media screen and (max-width: 1230px) {
  .video-detail {
    position: static !important;
    margin-top: 100px;
  }
  .video-detail-container {
    flex-wrap: wrap;
  }
  .related-videos {
    margin-top: 0px !important;
    border-top: 1px solid #e3e3e3 !important;
  }
  .related-videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1px;
  }
}
@media screen and (max-width: 820px) {
  .video-card {
    width: 500px !important;
    height: 400px !important;
  }
}
@media screen and (max-width: 600px) {
  .video-card {
    width: 380px !important;
    height: 300px !important;
  }
  .like-dislike {
    flex-direction: column;
    gap: 0px !important;
  }
}